<style>
    body {
        background-color: rgb(112, 106, 106);
    }

    h1 {
        text-align: center;
        color: white;
        text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    }

    table {
        background-color: whitesmoke;
        vertical-align: middle;
    }

    .table td {
        vertical-align: middle;
    }
</style>

<div class="container mt-3">
  <div>
    <h1 class="text">Ingrese Producto</h1>
    <br />
    <form>
      <div class="mb-3">
        <label for="title" class="form-label">Nombre:</label>
        <input type="text" class="form-control" name="title" id="title" required/>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Precio:</label>
        <input type="text" class="form-control" name="price" id="price" required/>
      </div>
      <div class="mb-3">
        <label for="thumbnail" class="form-label">Foto URL:</label>
        <input type="text" class="form-control" name="thumbnail" id="thumbnail"  required/>
      </div>
      <button type="submit" class="btn btn-success" style='background-color: rgb(30, 140, 230)'>Enviar</button>
    </form>

    <h1>Vista de Productos</h1>
    <br>
    {{#if hayProductos}}
    <div class="table-responsive mt-3">
        <table class="table table-dark">
            <tr>
                <th>Nombre del producto</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
            {{#each productos as |producto|}}
            <tr>
                <td>{{producto.title}}</td>
                <td>${{producto.price}}</td>
                <td><img src={{producto.thumbnail}} style="width: 50px; border-radius: 25px 25px 25px 25px" alt="Not Found"></td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{else}}
    <h1 class="alert alert-warning">¡No se encontraron productos! =(</h1>
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/index.js"></script>
